#!/bin/bash

certbot renew

bash -c "cat /etc/letsencrypt/live/demo.com/fullchain.pem /etc/letsencrypt/live/demo.com/privkey.pem > /etc/ssl/demo.com/demo.com.pem"

source /root/cluster-starter-kit/haproxy/reload.sh