{
    "swarm": {
        "token": "-----worker-token-------",
        "address": "127.0.0.1:2377"
    },
    "cluster": {
        "instance_count": 2,
        "start_index": 0,
        "tags":["frontend"]
    }
}