[Unit]
After=haproxy.service
Description=Dataplaneapi auto starter

[Service]
RestartSec=5
Restart=always
ExecStart=bash /root/cluster-starter-kit/haproxy/dataplaneapi.sh

[Install]
WantedBy=multi-user.target