# Validate this file before reload service
# haproxy -c -V -f /etc/haproxy/haproxy.cfg

global
   stats socket ipv4@127.0.0.1:9999 level admin
   stats socket /var/run/haproxy.sock user root mode 660 expose-fd listeners level admin
   master-worker
   server-state-file /usr/local/haproxy/haproxy.state

defaults
   load-server-state-from-file global

userlist dataplaneapi
   user root insecure-password mypassword

program api
   command dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/sbin/haproxy --config-file /etc/haproxy/haproxy.cfg --userlist dataplaneapi
   no option start-on-reload

frontend http_front
   bind *:80   
   mode http

   # Define hosts
   # acl host_bacon hdr(host) -i ilovebacon.com
   # acl host_milkshakes hdr(host) -i bobsmilkshakes.com

   ## figure out which one to use
   # use_backend bacon_cluster if host_bacon
   # use_backend milshake_cluster if host_milkshakes

   # This is our new config that listens on port 443 for SSL connections
   bind *:443 ssl crt /etc/ssl/example.com/example.com.pem
   stats uri /haproxy?stats
   redirect scheme https code 301 if !{ ssl_fc }
   default_backend http_back

backend http_back
   mode http
   balance roundrobin
   server-template worker 0-99 <ip>:80 check disabled
   server worker1 <ip>:80
   server worker2 <ip>:80
   server worker1 <ip>:80 check
   server worker2 <ip>:80 check

# listen stats
#    bind *:8181
#    stats enable
#    stats uri /
#    stats realm Haproxy\ Statistics
#    stats auth shintiger:passwordhaha9